<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tgw.dao.example.ExampleBeanMapper">

	<select id="searchData" parameterType="com.tgw.bean.example.ExampleBean"  resultType="map">
select exam.id,exam.form_hidden formHidden,
			exam.form_text formText,exam.form_text_area formTextArea,
      		exam.form_html_editor formHtmlEditor,
			exam.form_number_short formNumberShort,exam.form_number_integer formNumberInteger,
			exam.form_number_long formNumberLong,exam.form_number_float formNumberFloat,
			exam.form_number_double formNumberDouble,exam.form_boolean formBoolean,

			exam.form_radio formRadio,exam.form_checkbox formCheckbox,
			exam.form_combo_box_json formComboBoxJson,exam.form_combo_box_sql formComboBoxSql,
      exam.form_combo_box_cascade1 formComboBoxCascade1,exam.form_combo_box_cascade2 formComboBoxCascade2,
			exam.form_combo_box_cascade3 formComboBoxCascade3,
		  exam.form_combo_box_tree1 formComboBoxTree1,exam.form_combo_box_tree2 formComboBoxTree2,
			exam.form_combo_box_tree3 formComboBoxTree3,exam.form_combo_box_tree4 formComboBoxTree4,
			exam.form_combo_box_tree5 formComboBoxTree5,exam.form_combo_box_tree6 formComboBoxTree6,
			exam.form_display formDisplay,
		  exam.form_file1_orig_file_name formFile1OrigFileName,
			exam.form_file2_orig_file_name formFile2OrigFileName,
			exam.form_file3_orig_file_name formFile3OrigFileName
 from example_bean exam
order by exam.update_time desc
	</select>

	<select id="loadComboboxData"  resultType="map">
		select menu.id,menu.text name
		from sys_en_menu menu
		<where>
			<if test="value!=null">
				menu.fk_parent_id = #{value}
			</if>
		</where>
	</select>

	<select id="queryMenuComboBoxMap"  resultType="map">
		select menu.id,menu.text name
		from sys_en_menu menu
		<where>
			<if test="value!=null">
				menu.fk_parent_id = #{value}
			</if>
		</where>
	</select>

	<select id="queryDistrictComboBoxMap"  resultType="map">
		select tree.id,tree.name
		from example_bean_tree tree
		<where>
			<if test="value!=null">
				tree.parent_id = #{value}
			</if>
			<if test="value==null">
				tree.parent_id  is null
			</if>
		</where>
	</select>

	<select id="queryMenuTreeMap"  resultType="map">
		select menu.id,menu.text,menu.fk_parent_id,
			    menu.expanded,menu.is_self_url
 		from sys_re_role_menu rm,sys_en_role role,sys_en_menu menu
		where rm.fk_role_id = role.id
    	  and rm.fk_menu_id = menu.id
	</select>

	<select id="queryDistrictTreeMap"  resultType="map">
		select tree.id,tree.name,tree.parent_id
		from example_bean_tree tree
	</select>
</mapper>
